@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --foreground-rgb: 0, 0, 0;
        --background-start-rgb: 214, 219, 220;
        --background-end-rgb: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground-rgb: 255, 255, 255;
            --background-start-rgb: 0, 0, 0;
            --background-end-rgb: 0, 0, 0;
        }
    }

    body {
        @apply flex bg-gray-200 p-4;
    }
}

@layer components {
    /** [start] form components **/
    .input-group {
        @apply flex h-10 justify-center items-center;
    }

    .input-group.top-label {
        @apply grid grid-cols-1 h-[4.4rem];
    }

    .input-group > input {
        @apply relative shadow appearance-none border border-gray-400 rounded-3xl w-full h-full py-2 px-3 text-gray-700 leading-tight
                focus:rounded-xl focus:outline-none focus:shadow-md focus:border-secondary
                transition-all duration-200 ease-linear;
    }

    .input-group > label {
        @apply block text-gray-700 text-sm font-bold mr-2;
    }

    .input-group.top-label > label {
        @apply mr-0 mb-2;
    }

    .btn {
        @apply border border-gray-700 bg-white text-gray-700 text-sm font-semibold mx-1 px-8 py-2 rounded-3xl
                hover:bg-gray-200 hover:rounded-md
                transition-all duration-200 ease-linear;
    }

    .btn.btn-primary {
        @apply border border-gray-700 bg-white text-gray-700
                hover:bg-gray-700 hover:text-white hover:rounded-md
                transition-all duration-200 ease-linear;
    }

    .btn.btn-primary.btn-solid {
        @apply border border-gray-700 bg-gray-700 text-white
                hover:rounded-md
                transition-all duration-200 ease-linear;
    }

    .btn.btn-secondary {
        @apply border border-secondary bg-white text-secondary
                hover:bg-secondary hover:text-white hover:rounded-md
                transition-all duration-200 ease-linear;
    }

    .btn.btn-secondary.btn-solid {
        @apply border border-secondary bg-secondary text-white
                hover:rounded-md
                transition-all duration-200 ease-linear;
    }
    /** [end] form components **/

    /** [start] menu **/
    .default-width {
        @apply w-menu;
    }

    .menu-item-width {
        @apply w-[calc(theme('width.menu')-0.5rem)];
    }

    .menu.maximized {
        @apply fixed top-0 left-0 h-screen z-[1] default-width m-0
            flex flex-col bg-gray-800
            text-white text-sm shadow-lg
            transition-all duration-200 ease-linear;
    }

    .menu.minimized {
        @apply fixed top-0 left-[-18rem] h-screen z-[1] w-0 m-0
            flex flex-col bg-gray-800
            text-black text-sm shadow-lg
            transition-all duration-200 ease-linear;
    }

    .menu.minimized > .menu-item {
        @apply relative grid grid-cols-12 gap-4
            items-center justify-center
            h-10 w-0 mt-1 mb-1 mx-auto
            text-black hover:bg-gray-600
            rounded-sm transition-all duration-100
            ease-linear cursor-pointer;
    }

    .menu.minimized > .menu-break {
        @apply relative flex items-center justify-center
            w-0 mt-1 mb-1 mx-auto border-gray-600;
    }

    .menu-item {
        @apply relative grid grid-cols-12 gap-4
            items-center justify-center
            h-10 menu-item-width mt-1 mb-1 mx-auto
            text-white hover:bg-gray-600
            rounded-sm transition-all duration-100
            ease-linear cursor-pointer;
    }

    .menu-item.last-item {
        @apply absolute bottom-0 m-1 mb-2;
    }

    .menu-item.active {
        @apply bg-gray-600;
    }

    .menu-item-highlight {
        @apply flex col-span-1;
    }

    .menu-item.active > .menu-item-highlight {
        @apply h-[1.15rem] w-[0.22rem] bg-secondary rounded-3xl;
    }

    .menu-item-icon {
        @apply flex col-span-2 items-start justify-center;
    }

    .menu-item-label {
        @apply flex col-span-6 items-center;
    }

    .menu-item-count {
        @apply flex col-span-2 items-center justify-center text-[11px] bg-gray-600 rounded-full;
    }

    .menu-break {
        @apply relative flex items-center justify-center
            menu-item-width mt-1 mb-1 mx-auto border-gray-600;
    }

    .menu-control-btn {
        @apply origin-top
            ml-[theme('width.menu')] transition-all duration-200 ease-linear;
    }

    .menu-control-btn.minimized {
        @apply ml-1 transition-all duration-200 ease-linear;
    }

    .menu-control-btn > .icon-type {
        @apply cursor-pointer text-black hover:text-secondary stroke-0 hover:stroke-1
            transition-all duration-100 ease-linear;
    }
    /** [end] menu **/

    /** [start] main container **/
    .main-container {
        @apply relative w-screen mx-10 justify-center items-center;
    }
    /** [end] main container **/

    /** [start] demo container **/
    .demo-container {
        @apply grid grid-cols-4 my-8 gap-4 w-full;
    }

    .demo-container > div {
        @apply flex justify-center items-center;
    }
    /** [end] demo container **/
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
